@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Watchlist</h1>
    <p>Let's watch some movies!</p>
</div>
<div class="container-fluid mt-4">
    <img style="width:100%" src="/images/cinema.jpg" class="img-thumbnail" />
</div>
